<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    Votre panier ne contient aucun article.  Merci de <%= link_to "retourner sur le site", root_path %> et d'ajouter des articles à votre panier.
  </p>
<% else %>
  <table class="table table-bordered">
  <thead>
      <tr>
        <th>Item</th>
        <th>Unit price</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
        <th>Total price</th>
      </tr>
  </thead>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
<% end %>