<div class="footer">
	<div class="container">
			<div class="col-md-4">
			© Novlife 2015. Tous droits réservés.
			</div>
			<div class="col-md-4 center">
			Made with <i class="fa fa-heart"></i> in France
			</div>
			<div class="col-md-4 text-right">
				<a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;"><i class="fa fa-angle-up fa-fw"></i>Back to Top</a>
			</div>
	<div>
</div>